// =============================================================================
// VARIABLES
// =========

$orange: #F36523;
$yellow: #EC9F45;
$blue:   #009ACC;
$white:  #FFFFFF;


// =============================================================================
// PLACEHOLDERS
// ============

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%smooth-transition {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}

%border-shadow-none {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

%smooth-font {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

%shadows {
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
      -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
       -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

// =============================================================================
// MIXINS
// ======

@mixin transformY($value) {
  -webkit-transform: translateY($value);
     -moz-transform: translateY($value);
      -ms-transform: translateY($value);
       -o-transform: translateY($value);
          transform: translateY($value);
}

@mixin transformZ($value) {
  -webkit-transform: translateZ($value);
     -moz-transform: translateZ($value);
      -ms-transform: translateZ($value);
       -o-transform: translateZ($value);
          transform: translateZ($value);
}
  

@mixin background-image($background) {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  @include transformZ(0);
  z-index: -1;
  background: $background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transformY(-50%);
}

@mixin circle($bg-color) {
  height: 21em;
  width: 21em;
  border-radius: 50%;
  background-color: $bg-color;
  position: absolute;
  opacity: 0.7;
  @extend %smooth-transition;

  &:hover {
    opacity: 0.9;
  }

  .text {
    @include vertical-align;
    
    h1, 
    h3 {
      color: $white;
    }

    h1 {
      font-weight: bold;
    } 
  }
}

@mixin results-fonts($size) {
  color: $white;
  @extend %smooth-font;
  font-size: $size;
  font-family: helvetica;
  padding: 0;
  margin: 0;
}

@mixin results-bg($width) {
  background-color: $blue;
  height: 100%;
  width: $width;
  opacity: 0.95;
}

// =============================================================================
// FRONT PAGE
// ==========

#section0 {

  &:before {
    @include background-image(url("../images/brooklyn.jpg"));
  }

  #main-box {
    max-width: 35em;
    height: 35em;
    margin: 0 auto;
    position: relative;

    #start-business {
      @include vertical-align;
      @include circle($orange);
      left: -7%;
    }

    #find-job {
      @include vertical-align;
      @include circle($yellow);
      left: 38%;
      top: 30%;
    }

    #help-business {
      @include vertical-align;
      @include circle($blue);
      left: 38%;
      top: 75%;
    }
  }
}


// =============================================================================
// SEARCH PAGE
// ===========

#section1 {

  &:before {
    @include background-image(linear-gradient(180deg, $orange, $orange));
  }

  .awesome-form {
    margin: 0 auto 0 auto;
    padding: 20px;
    @include outer-container;
    height: auto;
    overflow: hidden;

    input,
    label {
      width: 100%;
      margin-right: 20px;
      padding: 20px 0;
      width: 100%;
      font-family: helvetica;
      font-size: 18px;
    }

    .input-group {
      position: relative;
      width: 100%;
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 2px solid $white;
      color: $white;
      font-size: 3em;
      border-radius: 0;
      padding: 0.3em 0.5em 0.3em 0.5em;
      font-family: helvetica;
      @extend %border-shadow-none;

      &:focus ~ label,
      &:valid ~ label {
        @extend %border-shadow-none;
        top: 0;
        font-size: 1.5em;
        color: $white;
      }
    }

    label {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
         -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
           -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
      pointer-events: none;
      color: $white;
      font-size: 3em;
      @extend %smooth-font;
      @extend %smooth-transition;
    }

    input[type="submit"] {
      padding: 20px;
      width: 35%;
      border: 1px solid $white;
      color: $white;
      cursor: pointer;
      font-family: tahoma;
      @extend %smooth-transition;
      @extend %smooth-font;
      &:hover {
        background: $white;
        color: $orange;
      }
    }
  }
}


// =============================================================================
// RESULTS PAGE
// ============

.results {
  @include results-bg(55%);
  margin: 0 auto;
  height: 100%;
  
  .results-text {
    @extend %vertical-align;
    text-align: justify;
    padding: 0 2em;

    h1 {
      @include results-fonts(3.5em);
    }

    h2 {
      @include results-fonts(2.8em);
    }

    h3 {
      @include results-fonts(2.1em);
    }

    h4 {
      @include results-fonts(1.4em);
    }

    p {
      @include results-fonts(1.2em);
    }
  }
}


#section2 {
  &:before {
    @include background-image(url("../images/taxi.jpg"));
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);
  }

  // #slide1 {
  
  // }

  // #slide2 {
  //   .results {
  //     @include results-bg(100%);
  //   }
  // }
}



#search-icon {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 999;

  a {
    @extend %smooth-transition;
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
}
