body {
  font-size: 16px;
  font-size: 1rem;
}

// =============================================================================
// VARIABLES
// =========

$orange: #F36523;
$yellow: #EC9F45;
$blue:   #009ACC;
$white:  #FFFFFF;

// =============================================================================
// PLACEHOLDERS
// ============

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%border-shadow-none {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

%smooth-font {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

%shadows {
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
      -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
       -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

// =============================================================================
// MIXINS
// ======

@mixin transformY($value) {
  -webkit-transform: translateY($value);
     -moz-transform: translateY($value);
      -ms-transform: translateY($value);
       -o-transform: translateY($value);
          transform: translateY($value);
}

@mixin transformZ($value) {
  -webkit-transform: translateZ($value);
     -moz-transform: translateZ($value);
      -ms-transform: translateZ($value);
       -o-transform: translateZ($value);
          transform: translateZ($value);
}
  
@mixin background-image($background) {
  // @include transformZ(0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: $background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin vertical-align {
  @include transformY(-50%);
  position: relative;
  top: 50%;
}

@mixin circle(
  $height: 30rem, 
  $width: 30rem, 
  $bg-color: $white, 
  $border-radius: 50%,
  $h1: 1.75rem,
  $h3: 1.25rem
  ) {
  @include transition(all 0.3s);
  height: $height;
  width: $width;
  border-radius: $border-radius;
  background-color: $bg-color;
  position: absolute;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
    // z-index: 9999;
  }

  .text {
    @include vertical-align;
    
    h1, 
    h3 {
      color: $white;
    }

    h1 {
      font-weight: bold;
      font-size: $h1;
    } 

    h3 {
      font-size: $h3;
    }
  }
}

@mixin results-fonts($size) {
  @extend %smooth-font;
  color: $white;
  font-size: $size;
  font-family: helvetica;
  padding: 0;
  margin: 0;
}

@mixin results-bg($width) {
  background-color: $blue;
  height: 100%;
  width: $width;
  opacity: 0.95;
}


// =============================================================================
// FRONT PAGE
// ==========

#section0 {
  &:before {
    @include background-image(url("../images/brooklyn.jpg"));
  }

  #main-box {
    max-width: 35rem;
    height: 35rem;
    margin: 0 auto;
    position: relative;
    // font-size: 2rem;

    #start-business {
      @include vertical-align;
      @include circle($bg-color: $orange);
      left: 7%;
    }

    #find-job {
      @include vertical-align;
      @include circle($bg-color: $yellow);
      left: 75%;
      top: 15%;
      z-index: 1;
    }

    #help-business {
      @include vertical-align;
      @include circle($bg-color: $blue);
      left: 75%;
      top: 85%;
    }
  }
}

@media (max-width: 1366px) {
  #section0 {
    &:before {
      @include background-image(url("../images/brooklyn.jpg"));
    }

    #main-box {
      max-width: 35rem;
      height: 35rem;
      margin: 0 auto;
      position: relative;

      #start-business {
        @include vertical-align;
        @include circle(
          $height: 22rem, 
          $width: 22rem, 
          $bg-color: $orange, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 18%;
      }

      #find-job {
        @include vertical-align;
        @include circle(
          $height: 22rem, 
          $width: 22rem, 
          $bg-color: $yellow, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 66%;
        top: 22%;
      }

      #help-business {
        @include vertical-align;
        @include circle(
          $height: 22rem, 
          $width: 22rem, 
          $bg-color: $blue, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 66%;
        top: 74%;
      }
    }
  }
}


@media (max-width: 1282px) {
  #section0 {
    &:before {
      @include background-image(url("../images/brooklyn.jpg"));
    }

    #main-box {
      max-width: 35rem;
      height: 35rem;
      margin: 0 auto;
      position: relative;

      #start-business {
        @include vertical-align;
        @include circle(
          $height: 20rem, 
          $width: 20rem, 
          $bg-color: $orange, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 21%;
      }

      #find-job {
        @include vertical-align;
        @include circle(
          $height: 20rem, 
          $width: 20rem, 
          $bg-color: $yellow, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 64%;
        top: 26%;
      }

      #help-business {
        @include vertical-align;
        @include circle(
          $height: 20rem, 
          $width: 20rem, 
          $bg-color: $blue, 
          $border-radius: 50%,
          $h1: 1.25rem,
          $h3: 1rem
        );
        left: 64%;
        top: 75%;
      }
    }
  }
}


@media (max-width: 1282px) {
  #section0 {
    &:before {
      @include background-image(url("../images/brooklyn.jpg"));
    }

    #main-box {
      max-width: 35rem;
      height: 35rem;
      margin: 0 auto;
      position: relative;

      #start-business {
        @include vertical-align;
        @include circle(
          $height: 18rem, 
          $width: 18rem, 
          $bg-color: $orange, 
          $border-radius: 50%,
          $h1: 1.05rem,
          $h3: 0.9rem
        );
        left: 24%;
      }

      #find-job {
        @include vertical-align;
        @include circle(
          $height: 18rem, 
          $width: 18rem, 
          $bg-color: $yellow, 
          $border-radius: 50%,
          $h1: 1.05rem,
          $h3: 0.9rem
        );
        left: 61%;
        top: 28%;
      }

      #help-business {
        @include vertical-align;
        @include circle(
          $height: 18rem, 
          $width: 18rem, 
          $bg-color: $blue, 
          $border-radius: 50%,
          $h1: 1.05rem,
          $h3: 0.9rem
        );
        left: 61%;
        top: 74%;
      }
    }
  }
}


@media (max-width: 640px) {
  #section0 {
    &:before {
      @include background-image(url("../images/brooklyn.jpg"));
    }

    #main-box {
      max-width: 35rem;
      height: 35rem;
      margin: 0 auto;
      position: relative;

      #start-business {
        @include vertical-align;
        @include circle(
          $height: 16rem, 
          $width: 16rem, 
          $bg-color: $orange, 
          $border-radius: 50%,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left: 27%;
      }

      #find-job {
        @include vertical-align;
        @include circle(
          $height: 16rem, 
          $width: 16rem, 
          $bg-color: $yellow, 
          $border-radius: 50%,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left: 62%;
        top: 33%;
      }

      #help-business {
        @include vertical-align;
        @include circle(
          $height: 16rem, 
          $width: 16rem, 
          $bg-color: $blue, 
          $border-radius: 50%,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left: 62%;
        top: 71%;
      }
    }
  }
}


@media (max-width: 480px) {
  #section0 {
    &:before {
      @include background-image(url("../images/brooklyn.jpg"));
    }

    #main-box {
      @include vertical-align;
      max-width: 100%;
      height: 45rem;
      margin: 0 auto;
      position: relative;

      #start-business {
        @include vertical-align;
        @include circle(
          $height: 8rem, 
          $width: 90%, 
          $bg-color: $orange, 
          $border-radius: 12px,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        top: 30%;
      }

      #find-job {
        @include vertical-align;
        @include circle(
          $height: 8rem, 
          $width: 90%, 
          $bg-color: $yellow, 
          $border-radius: 12px,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        top: 50%;
      }

      #help-business {
        @include vertical-align;
        @include circle(
          $height: 8rem, 
          $width: 90%, 
          $bg-color: $blue, 
          $border-radius: 12px,
          $h1: 0.95rem,
          $h3: 0.85rem
        );
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        top: 70%;
      }
    }
  }
}



// =============================================================================
// SEARCH PAGE
// ===========

#section1 {

  &:before {
    @include background-image(linear-gradient(180deg, $orange, $orange));
  }

  .awesome-form {
    margin: 0 auto 0 auto;
    padding: 20px;
    @include outer-container;
    height: auto;
    overflow: hidden;

    input,
    label {
      width: 100%;
      margin-right: 20px;
      padding: 20px 0;
      width: 100%;
      font-family: helvetica;
      font-size: 18px;
    }

    .input-group {
      position: relative;
      width: 100%;
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 2px solid $white;
      color: $white;
      font-size: 3rem;
      border-radius: 0;
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
      font-family: helvetica;
      @extend %border-shadow-none;

      &:focus ~ label,
      &:valid ~ label {
        @extend %border-shadow-none;
        top: 0;
        font-size: 1.5rem;
        color: $white;

        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }
    }

    label {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
         -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
           -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
      pointer-events: none;
      color: $white;
      font-size: 3rem;
      @extend %smooth-font;
      @include transition(all 0.5s);
    }

    input[type="submit"] {
      padding: 20px;
      margin: 0 auto;
      width: 300px;
      border: 1px solid $white;
      color: $white;
      cursor: pointer;
      font-family: tahoma;
      @include transition(all 0.5s);
      @extend %smooth-font;
      &:hover {
        background: $white;
        color: $orange;
      }
    }
  }
}


@media (max-width: 1024px) {
  #section1 {
    .awesome-form {
      label {
        font-size: 2.5rem;
      }
    }
  }
}


@media (max-width: 768px) {
  #section1 {
    .awesome-form {
      label {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 640px) {
  #section1 {
    .awesome-form {
      label {
        font-size: 1.5rem;
      }
    }
  }
}


@media (max-width: 480px) {
  #section1 {
    .awesome-form {
      label {
        font-size: 1.25rem;
      }
    }
  }
}


// =============================================================================
// RESULTS PAGE
// ============

.results {
  @include results-bg(100%);
  margin: 0 auto;
  height: 100%;

  @media only screen and (min-width: 770px) {
    @include results-bg(55%);
  }
  
  .results-text {
    @extend %vertical-align;
    text-align: justify;
    padding: 0 2rem;

    h1 {
      @include results-fonts(3.5rem);
    }

    h2 {
      @include results-fonts(2.8rem);
    }

    h3 {
      @include results-fonts(2.1rem);
    }

    h4 {
      @include results-fonts(1.4rem);
    }

    p {
      @include results-fonts(1.2rem);
    }
  }
}


#section2 {
  &:before {
    @include background-image(url("../images/taxi.jpg"));
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);
         -o-filter: blur(5px);
            filter: blur(5px);
  }

  #slide2 {
    background-color: $blue;
    opacity: 0.9;
  }

  .results {
    .results-text {
      margin: 0 auto;
      width: 85%;

      h4 {
        padding-top: 1rem;
      }
    }
  }
}



#search-icon {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 999;

  a {
    @include transition(all 0.5s);
    color: $white;
    &:hover {
      color: $yellow;
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari */
      transform: scale(1.2);
    }
  }
}
