---
title: Blue Economics
---

#fullpage
  #section0.section
    #main-box
      %a{:href => "#secondPage"}
        #start-business
          .text
            %h1 I want to start a business.
            %h3 Entrepreneurial advice and credit.
  
      %a{:href => "#secondPage"}
        #find-job
          .text
            %h1 I want to find a better job.
            %h3 Workforce Development.

      %a{:href => "#secondPage"}
        #help-business
          .text
            %h1 I need help with my business.
            %h3 Small business services and credit.

  #section1.section
    %form.awesome-form{action: "", method: "get"}
      .input-group
        %input{type: "text", required: "required"}/
        %label{:for => ""}
          What industry are you interested in?
      %input{type: "submit", value: "Ask"}

  #section2.section
    #slide1.slide{"data-anchor" => "slideA"}
      .results
        .results-text
          %h1 Job Title
          %h4
            %strong
              Salary:
            65,950, Per Year
          %br/
          %p
            %strong
              Also Called:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat | 
            excepturi quam culpa recusan.                                     |
          %br/
          %p
            %strong
              What they do:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis    |
            nihil natus facilis sed voluptatum impedit error laudantium fuga  |
            blanditiis, architecto? Sapiente possimus quas exercitationem     |
            cupiditate quod ad fugit nesciunt temporibus! Lorem ipsum dolor   |
            sit amet, consectetur adipisicing elit. Dolorem nemo assumenda    |
            debitis, eos animi, asperiores quas quod necessitatibus quis      |
            inventore reiciendis nulla quasi perferendis, et quibusdam        |
            aliquam. Facere, consequuntur, blanditiis. 
          %br/
          %p
            %strong
              Education Required:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    #slide2.slide{"data-anchor" => "slideB"}
      .results
        .results-text
          %h1 Job Title
          %h4
            %strong
              Salary:
            65,950, Per Year
          %br/
          %p
            %strong
              Also Called:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat | 
            excepturi quam culpa recusan.                                     |
          %br/
          %p
            %strong
              What they do:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis    |
            nihil natus facilis sed voluptatum impedit error laudantium fuga  |
            blanditiis, architecto? Sapiente possimus quas exercitationem     |
            cupiditate quod ad fugit nesciunt temporibus! Lorem ipsum dolor   |
            sit amet, consectetur adipisicing elit. Dolorem nemo assumenda    |
            debitis, eos animi, asperiores quas quod necessitatibus quis      |
            inventore reiciendis nulla quasi perferendis, et quibusdam        |
            aliquam. Facere, consequuntur, blanditiis.                        |
          %br/
          %p
            %strong
              Education Required:
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    #search-icon
      %a{:href => "#secondPage"}
        %i.fa.fa-search.fa-4x
